################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EnterpriseMasterSite/obj/Release/TempPE
/EnterpriseMasterSite/obj/Release/edmxResourcesToEmbed
/EnterpriseMasterSite/obj/Release
/EnterpriseMasterSite/obj/Debug
/EnterpriseMasterSite/bin
/packages/AjaxControlToolkit.20.1.0
/packages
